{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">



<center>
    <div class="card text-white bg-danger mb-3 page-center2" style="max-width: 22rem;">
      <div class="card-header"><div onclick="window.location='{% url 'index_page' %}'" class="btn btn-dark">←</div></div>
      <div class="card-body">
        <h4 class="card-title" align="center">REGISTER</h4>
        <p class="card-text">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    {% for i in form %}
                        {{i.errors}}
                        <p></p>
                        <input type="{% if 'Password' in i.label %}password{% else %}username{% endif %}" placeholder="{{i.label}}" class="form-control" name="{{i.name}}">
                    {% endfor %}
                    <p></p>
                    <div class="row">

                        <div class="col-lg-12">
                            <input type="submit" class="form-control btn btn-success" value="Register"/>
                        </div>

                    </div>


                </form>
              </div>
    </p>
  </div>
</div>
</center>
