.calentry{


}

.block_table{
    background:#ffffff;
    margin: 15px 0px 15px 0px;
    border-style: solid;
    border-width: 3px;
    border-color:#303030;
    padding:15px 15px 15px 15px;
    height:45%;
}


.page-center{
    position: absolute;
    top:20%;
    margin-left: 35%;
}

.page-center2{
    position: absolute;
    top:20%;
    margin-left: 36%;
}

.page-center-home{
    position: absolute;
    top:20%;
    margin-left: 0%;
}
